<div class="util-position-left-right">
    <div>
        <span class="icon"><%= thread.icon %></span>
        <a class="thread-title" href="/<%= thread.id %>">
            <%= thread.title %>
        </a>
    </div>
    <div>
        <%- include('name.ejs', { post: thread }) %>
    </div>
</div>
<p><%- thread.message %></p>
