<% threads.forEach(thread => { %>
    <div class="thread">
        <div>
            <span class="icon"><%= thread.icon %></span>
            <a href="/<%= thread.id %>.html">
                <%= thread.title %>
            </a>
        </div>
        <p><%= thread.message %></p>

        <% thread.replies.forEach(reply => { %>
            <div class="reply">
                <p><%= reply.message %></p>
            </div>
        <% }) %>
    </div>
<% }) %>

<hr>

<h2>Start a New Thread</h2>
<form method="POST" action="/addPost" class="new-thread-form">
    <div class="form-row">
        <div class="form-group">
            <label for="icon">Icon</label>
            <select name="icon" id="icon" required>
                <% threadIcons.forEach(icon => { %>
                    <option><%= icon %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group grow">
            <label for="title">Title</label>
            <input type="text" name="message" id="title" required>
        </div>
    </div>

    <div class="form-group">
        <label for="body">Post</label>
        <textarea name="body" id="body" rows="6" required></textarea>
    </div>

    <button type="submit">Post Thread</button>
</form>
